@charset "UTF-8";
@font-face{ 
font-family:'FonteLogo';
src: url("../_fonts/bubblegum-sans-regular.otf.ttf");
}
@font-face {
    font-family: 'FonteLogo1';
    src: url("_fonts/fontawesome-webfont.ttf");
}

* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "roboto", sans-serif;
    }

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background: url("../img/circles.png") no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: normal;
  height: auto;
}

/* Global */
.container{
  width:100%;
  margin:auto;

}

ul{
  margin:0;
  padding:0;
}
ul.nav-lista a{
  text-decoration: none;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

li.borda a{
  color: #ffffff;
  background-color:#e8491d;
  padding: 2px 3px 2px 3px; 
  border-radius: 20px;
  cursor: pointer;
  border-bottom:#e8491d .4ch solid;

}
li.borda a:hover{
  color: #e8491d;
  background: #ffffff;
}
li.current1 a{
  color:#e8491d;
  font-weight: bolder;
  border-bottom:#e8491d .4ch solid;
}


/* Cabecalho **/
header{
  background:transparent;
  color:#134767c7;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 5px solid;
}


header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:12pt;
  transition: 0.3s;
  color:#134767c7;
  font-weight: bolder;
}
a:hover {
  opacity: 0.5;
  }

header li{
  float:left;
  display:inline;
  padding: 0 15px 0 15px;
}

header #branding{
  float:left;
}

header div> #branding a{
  margin:0;
  font-family:"FonteLogo";
  font-size: 35px;
  text-decoration: none;
  letter-spacing: 4px;

}

header nav{
  float:right;
  margin-top:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
  text-decoration: none;
  
}

header ul> li >a:hover{
  color:black;
  font-weight:bold;
  border-bottom: #E8491D 3px solid;
  transition: .2s;
}

.dropdown-menu {
  display: none;
 
}
.dropdown{
   position: relative;
  left: 85%;
  bottom: 90px;
}
span.user{
  font-size: 20pt;
  color:#134767c7;
  padding: 0;
  margin: 0;
}
/* img{
 border-radius: 45%;
  width:52px;
  height:40px;
} */
.dropdown:hover .dropdown-menu {
  display: block;

 }
 li.dropdown{
  display: inline-block;
 }
 ul.dropdown-menu  li  a{
  color:#134767c7;
text-decoration:none;
font-size:14pt;
font-weight: bolder;

 }


ul.btn-link li{
margin-top: 53px;
padding: 0px 20px 0px 20px;
text-align: center;

}


/* Newsletter */
#newsletter{
  padding:10px;
  color:#ffffff;
  background:transparent;
  margin-bottom: -55px;
}

#newsletter h2{
  float:left;
}
#newsletter h4, #newsletter h3{
    color: #476F88;
      }
      #newsletter h5{
        font-family: 'FonteLogo';
        font-size: 4vh;
        color:#E8491D;
      }

.page-title{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6vh;
}
/* Boxes */
#boxes{
  margin-top:20px;
  margin-left: 6%;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:80px;
}
section#boxes a{
  text-decoration: none;
  color: white;
}
/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:50px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
  
}
aside#sidebar .quote input{
color: rgb(0, 0, 0);
} 

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}
.page-titlee{
  color: #476F88;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Servicos */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}
fieldset#sexo{
  width:250px;
  padding: 10px;
  font-size: 2vh;
}
.modal {
  display: none;
  bottom: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  pointer-events: auto;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
   transition: opacity .15s linear;
   
          
}

.modal-content {
  padding: 20px;
  position: relative;
  background-color: #fefefe;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #888;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 8px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
   box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

}

.modal-header {
  display: flex;
  justify-content: space-between;

}
span.closemymodal{
  color: #aaa;
  font-size: 15pt;
  cursor: pointer;
  position: relative;
  right: -7%;
  font-weight: bold;
}
p.paragrafo{
  position: relative;
  text-align: center;
  color: #e8491d;
  text-align: justify;
  font-size: 14pt;
 }
  
.close,
.closeangoaustral,
.closehuamboexpresso,
.closerealexpress,
.closetcul,
.closeangoreal{
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  right: 15%;
  font-weight: bold;
}
.closemymodal,
.close,
.closeangoaustral,
.closehuamboexpresso,
.closerealexpress,
.closetcul,
.closeangoreal:hover,
.closemymodal,
.close,
.closeangoaustral,
.closehuamboexpresso,
.closerealexpress,
.closetcul,
.closeangoreal:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.modal-body {
  margin-top: 20px;
}

.modal-footer {
display: block;
   margin-top: 20px;
}

.cancel-btn {
   margin-right: 10px;

}
div.caixa-detalhes1{
  font-family: 'Times New Roman', Times, serif;
    background:#3E667F;
    color:#ffffff;
  margin-bottom: 100px;
  height: 108vh;
  border-radius: 30px 30px 30px 30px;
  
  }
  
  ul.caixa-detalhes li a{
    color:#d1d1d1;
    transition: .2S;
    border-bottom: #E8491D 4px solid;
    -webkit-transition:all .4s ease-in;


  }
  ul.caixa-detalhes li a:hover{
    color: #E8491D;
    background-color: #476F88;
    transition: .2S;
   transform: scale(1.2);
  }
  ul.caixa-detalhes li a:active{
    color: #E8491D;
    background-color: #d1d1d1;
    transition: .2S;
  }
  div.conteudo{
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  div.page-header h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #E8491D;
    text-align: center;
  }
  div.page-header p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:white;
    float: right;
    margin-top: 10px;
  }
  form.formulario-caixa a{
color: #e6e6e6;
font-family: 'Times New Roman', Times, serif;
  }
  form.formulario-caixa a{
    font-size: 3vh;
   padding: 10px;
      }
  form.formulario-caixa strong{
    color: #E8491D;
    font-weight: bolder;
      }
      form.formulario-caixa p{
        font-size: 2.5vh;
          }
          form.formulario-caixa input{
            font-size: 12pt;
              }


ul.caixa-detalhes1 li a{
  color: #476F88;
  text-align: center;
}
form.form{
  color: white;
  text-align: left;
  text-align: justify;
}
form.form strong{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
form.form p{
  color: #e8491d;
  font-weight: bolder;
}

form.form-{
  margin: auto;
  max-width:70%;
  overflow:hidden;
background: transparent;
}

form.form- input, .form- textarea{
  background-color: transparent;
  font-size: medium;
  color: #cccccc;
  
}
form.form- input{
padding: 25px 0px 25px 15px;
color: #cccccc;
}
form.form- p{
  font-size: 14pt;
  color:#d1d1d1;
}

footer{
  
  padding:20px;
  margin-top:20px;
  color:black;
  background-color:transparent;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer a{
  color: black;

}
footer a:hover{
color: #e8491d;
text-decoration: none;
}

.tabela-{
  font-size: 5vh;
  font-weight: bolder;
  font-family: 'FonteLogo1';
}
table th{
  color: white;
   font-size: 2.5vh;
}

form#formbusca input{
  text-align: center;
border: 1px rgba(24, 23, 23, 0.356) solid;
}


div.painel{
  border-color:#3E667F;
  border-radius:25px 25px 0px 0px;
  text-align: center;
background-color: #e6e6e6;
color: black;
}

div.painel > div.panel-heading {
  text-transform: uppercase;
  }
div.painel> div.painel{
  color: #fff;
  background-color: #3E667F;
  border-color:#3E667F;
}
div.painel> div.painel-footer + .panel-collapse > .panel-body {
  border-bottom-color:  #3E667F;
}
div.panel-footer{
  border-top-color:  #3E667F;
  color:#3E667F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 10pt;
}
table.tabela-personalizado{
font-family: 'Times New Roman', Times, serif;
}
thead.thead-personalizado > tr> th{
   color:#3E667F;
   text-align: center;
   }
div.alerta{
  display: none;
}
div.panel{
  color:#134767c7;
  height: 150pt;
}